*.pyc
.github/.DS_Store
.DS_Store
__pycache__
.ipynb_checkpoints
/UI/newenv
/UI/__pycache__
/nl2sql_library/nl2sql/__pycache__
/nl2sql_library/nl2sql/__pycache__
/nl2sql_library/nl2sql/__pycache__
/nl2sql_library/nl2sql/assets/__pycache__
